{% extends 'cmdMonitor/base_site.html' %}

{% block title %}
command logs title
{% endblock %}

{% block filter_form %}
<form class="form" action="{% url 'cmdMonitor:search' %}" method="post">
    {% csrf_token %}
    <div class="row">

    <!-- 			Date-from 		-->
      <div class="col-sm-3">
            <div class='input-group date' id='datetimepicker-from'>
                <input type='text' class="form-control" name="from" placeholder="From" {% if querry.timestamp__gte %} value='{{querry.timestamp__gte}}'{% endif %}/>
                <span class="input-group-addon">
                    <i class="fa fa-calendar" style="font-size:20px"></i>
                </span>
            </div>
      </div>

    <!-- 			User		-->
      <div class="col-sm-3">
          <div class='input-group' id="user">
              <input type="text" class="form-control"  name="user" placeholder="User" {% if querry.user %} value='{{querry.user}}'{% endif %}/> 
              <span class="input-group-addon">
                <i class="fa fa-user" style="font-size:20px"></i>
              </span>
          </div>
      </div>

    <!-- 			Identity 		-->
      <div class="col-sm-3">
          <div class='input-group' id="identity">
              <input type="text" class="form-control"  name="identity" placeholder="Identity" {% if querry.identity %} value='{{querry.identity}}'{% endif %} />
              <span class="input-group-addon">
                <i class="fa fa-user" style="font-size:20px"></i>
              </span>
          </div>
      </div>

    <!-- 			Host 		-->
      <div class="col-sm-3">
            <div class='input-group'  id="host">
              <input type="text" class="form-control" name="host" placeholder="Host" {% if querry.host__icontains %} value='{{querry.host__icontains}}'{% endif %} />
              <span class="input-group-addon">
                <i class="fa fa-desktop" style="font-size:20px"></i>
              </span>
            </div>
      </div>
      
    </div> 
    <br>
    <div class="row">
    <!-- 			Date-to 		-->
      <div class="col-sm-3">
            <div class='input-group date' id='datetimepicker-to'>
                <input type='text' class="form-control" name="to" placeholder="To" {% if querry.timestamp__lte %} value='{{querry.timestamp__lte}}'{% endif %} />
                <span class="input-group-addon">
                    <i class="fa fa-calendar" style="font-size:20px"></i>
                </span>
            </div>
      </div>

    <!-- 			Command 		-->
      <div class="col-sm-3">
          <div class='input-group' id="Command">
              <input type="text" class="form-control"  name="cmd" placeholder="Command"
                    {% if querry.cmd__iexact %}
                        value='{{querry.cmd__iexact}}'
                    {% elif querry.cmd__icontains %}
                        value='{{querry.cmd__icontains}}'
                    {% elif querry.cmd__istartswith %}
                        value='{{querry.cmd__istartswith}}'
                    {% elif querry.cmd__iendswith %}
                        value='{{querry.cmd__iendswith}}'
                    {% endif %} />
              <span class="input-group-addon">
                <i class="fa fa-code" style="font-size:20px"></i>
              </span>
          </div>
      </div>

    <!-- 			Regex 		-->
      <div class="col-sm-3">
            <select class="form-control" id="regex" name="cmd_regex">
                <option {% if regex == '' %} selected {% endif %} value="contains">select regex for command</option>
                <option {% if regex == 'exact' %} selected {% endif %}>Exact</option>
                <option {% if regex == 'contains' %} selected {% endif %}>Contains</option>
                <option{% if regex == 'startswith' %} selected {% endif %}>Startswith</option>
                <option{% if regex == 'endswith' %} selected {% endif %}>Endswith</option>
             </select>
      </div>

    <!-- 			Filter Button 		-->
      <div class="col-sm-3">
        <button type="submit" class="btn btn-primary form-control">FILTER        
                <i class="fa fa-filter" style="font-size:20px"></i>
        </button>
      </div>

    </div> 

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker-from').datetimepicker({useCurrent:false});
            $('#datetimepicker-to').datetimepicker();
            $('#datetimepicker-to').data("DateTimePicker").maxDate();
            $("#datetimepicker-from").on("dp.change", function (e) {
                $('#datetimepicker-to').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker-to").on("dp.change", function (e) {
                $('#datetimepicker-from').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
</form>

{% endblock %}

{% block log_table %}
<div class="row">
    <div class="col-sm-12"> 
        {% if all_logs %} 
        <div style="width: 100%;overflow: auto;max-height: 600px">       
        <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>User</th>
            <th>Identity</th>
            <th>Host</th>
            <th>Command</th>
          </tr>
        </thead>

        <tbody>
            {% for log in all_logs %}
            <tr>
            <td>{{log.timestamp}}</td>
            <td>{{log.user}}</td>
            <td>{{log.identity}}</td>
            <td>{{log.host}}</td>
            <td>{{log.cmd}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
        {% else %}
            <h4> No Record Found</h4>
        {% endif %}

    </div>
</div>
{% endblock %}