<!DOCTYPE html>
<html lang="en">

<head>
<title>{% block title %} {% endblock %}</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block stylesheet %} {% endblock %}
    <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {% block extrastyle %} {% endblock %}
    {% block extrahead %}{% endblock %}
</head>

<body style="height:100%">

<!--	Navigation Bar	-->

{% block nav-global %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{% block branding %}{% endblock%}</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><i class="fa fa-home" style="font-size:16px"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-user" style="font-size:16px"></i> About</a></li>
        <li><a href="#"><i class="fa fa-address-book" style="font-size:16px"></i> Contact</a></li>
        {% if user.is_authenticated %}
        <li ><a href="{% url 'cmdMonitor:index' %}">Logs</a></li>
        {% block download_link %}{% endblock %}
        <li><a href="#"><i class="fa fa-sign-out" style="font-size:16px"></i> Logout</a></li>
        {% else %}
        <li><a href="#"><i class="fa fa-sign-in" style="font-size:16px"></i> Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

<!--	Message	-       -->
{% block messages %}
{% if messages %}
<ul class="messagelist">
{% for message in messages %}
<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

<!--    Error Message   -->
{% block errormessages %}
{% if errormessages %}
<ul class="messagelist">
{% for error in errormessages %}
<li {% if error.tags %} class="{{error.tags}}"{% endif%}>{{error}}</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

<!--	content		-->
<div class="container" style="margin-top:80px">
    {% block pretitle %}{% endblock %}
    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
	{% block content %}{% endblock %}
    {% block sidebar %}{% endblock %}
</div>
<!-- end content    -->

<!--	Footer			-->
<footer>
	{% block footer %} {% endblock %}
</footer>

</body>
</html>