{% extends 'base.html' %}

{% block title %}Welcome to Mormo{% endblock %}

{% block stylesheet %}
<style type="text/css"  rel="stylesheet">
.social-links ul {
    padding: 0;
    margin: 0;
}

.social-links ul li {
    display: inline-block;
}

.social-links ul li a {
    font-size: 24px;
    color: #222222;
    margin: 25px 10px;
    display: block;
}

.contact-hader{
    text-transform: capitalize;
    font-weight: 300;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}
</style>
{% endblock %}

{% block content %}
<div class="row" style="margin-top:300px;">
    <div class="col-md-3 col-md-offset-2">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center contact-hader">Narendra Singh</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center social-links">
                    <ul>
                        <li><a href="https://github.com/narendra-cs" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://linkedin.com/in/narendra-singh-83416686"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-2">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center contact-hader">Pallav Jain</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center social-links">
                    <ul>
                        <li><a href="https://github.com/thepallavjain" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://linkedin.com/in/thepallavjain"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}